.box {
    border: 3px solid #ff0800;
    background: #000;
    height: 4090px;
    width: 1240px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

h1 {
    text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0,0,0,0.5), 4px 4px 5px rgba(0,0,0,0.7), 0px 0px 7px rgba(0,0,0,0.4);
    font-family: 'Algerian';
}

body {
    background-image: url("../Imagenes/fondo1.jpg");
}

header {
    width: 100%;
}

.navegacion {
    width: 1000px;
    height: 60px;
    margin: 30px auto;
    background: #000000;
}

    .navegacion ul {
        list-style: none;
    }

.menu > li {
    position: relative;
    display: inline-block;
}

    .menu > li > a {
        display: block;
        padding: 15px 20px;
        color: #fff;
        font-family: 'Algerian';
        text-decoration: none;
    }

.menu li a:hover {
    color: #ff0800;
    transition: all .3s;
}

/* Submenu*/

.submenu {
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

    .submenu li a {
        display: block;
        padding: 15px;
        color: #fff;
        font-family: 'Algerian';
        text-decoration: none;
    }

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

figure {
    position: absolute;
    margin-top: -23px;
    margin-left: 150px
}

p.seleccion-test {
    font-size: 12px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

    p.seleccion-test::-moz-selection {
        color: red;
        background-color: #0000ff;
        text-shadow: 1px 2px 1px #fff;
    }

.footer {
    height: 6rem;
    background-color: #000
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #0000ff;
}

th {
    background: #0000ff;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #fff;
    text-align: center;
}

li {
    line-height: 1.5;
}

.lista {
    background-color: #ff0800;
    font-weight: bold;
}
